<h1>@<%= @user.username %>'s User Profile</h1>
<center>
<p><%= image_tag @user.avatar.url, class: "show-pic" %></p>

<p><%= link_to 'Following', following_path( id: @user.id) %></p>
<p><%= link_to 'Followers', followers_path( id: @user.id) %></p>

<div>
  <p><%= @user.name %></p>
  <p><%= @user.location %></p>
  <p><%= @user.bio %></p>

</div>

</center>
<p>
  <% if current_user.following.include?(@user.id) %>
    <%= link_to "•Following", unfollow_path(id: @user.id), 
        class: "btn btn-primary", id: "unfollow_btn" %>
  <% else %>
    <% if current_user.id != @user.id %>
      <%= link_to "•Follow", now_following_path(id: @user.id), 
          class: "btn btn-primary" %>
    <% end %>
  <% end %>
</p>
 


<div>
  <h2><% @user.tweets.each do |tweet| %></h2>
    <div>
         <p><%= @user.username %></p>
          <p><%= tweet.message %></p>
    <% end %> 
  </div>
</div>
