<div>
	<h1>Tweets associated with  <%= @tag.phrase %></h1>
</div>
<div style="margin:50px">
	<% @tag.tweets.order(created_at: :desc).each do |tweet| %> 	<!-- A place for current user stats -->
		<div class = "row">
			<div class = "well">
				<p><%= image_tag tweet.user.avatar.thumb, class: 'img-round' %></p>
				<p><h4><%= tweet.user.name %></h4>@ <%= tweet.user.name %></p>
				<p><%= tweet.message.html_safe %></p>
				<p><%= time_ago_in_words(tweet.created_at) %></p>
			</div>
		</div>
		<% end %> 
	</div>


	
